<div class="clearNav"></div>
<div class="container">
  <div class="text-center">
    <p id="notice"><%= notice %></p>

    <h1>Merch</h1>
    <br>
    <div class="row">
      <% @merchandises.each do |merchandise| %>
      <div class="col-sm-6 col-md-4">
        <%= link_to image_tag(merchandise.image_url, class: 'img-fluid'), merchandise %>
        <h4><%= merchandise.name %></h4>
        <h5>R<%= merchandise.price %></h5>
        <hr>
        <%= link_to 'Edit', edit_merchandise_path(merchandise) %>
        <%= link_to 'Destroy', merchandise, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
<br>

<%= link_to 'New Merchandise', new_merchandise_path %>
</div> <!-- end container -->