<section id="landing-page-section">
  <!-- background image for landing page -->
  <%= image_tag ('having-cows-jumbotron-no-filter.jpg'), id: 'landing-img', class: 'img-fluid' %>
</section>

<section id="biography-section">
  <div id="parallax-biography" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>BIOGRAPHY</h1>
    </div>
  </div>

  <div class="container">
    <div class="biography-text">
      <p>The band has been together <strong>since 2013</strong> consisting of 3 members playing, 1 acoustic and 1 electric guitar and a kick-ass drum beat. At the end of 2013 they decided to evolve their own creativity by starting to write their own music and gigging all around Bloemfontein as they are <strong>a proud Bloem local based act</strong>.</p><p>As recent as June 2014 they released a studio recorded EP named <strong>‘ABIUA’</strong> and from there on promoted towards the project while finding themselves the number one alternative act in Bloemfontein on <strong>Reverbnation</strong>. ‘Die Mystic Boer’ has also announced Having Cows the number one ‘up and coming’ band for 2014 by <strong>winning the Crooked Boer Sessions</strong> in August 2014 and received a partial recording contract to share a compilation CD with fellow great Bloem bands.</p><p>Since November 2015 the band has evolved into the four piece line-up that they find themselves in currently, moving more towards the ‘plugged-in’ vibe doing full band shows. Classified as an <strong>indie band with a twitch of breaking the rules</strong> here and there, the guys from Having Cows play gigs all over South Africa. Proudly opening for local S.A. favourites like <strong>'aKING', ‘Monark’, ‘Moses&nbsp;Metro Man’, ‘Elvis Blue’ and ‘Shortstraw’</strong> in between gigging numerous shows in the city of roses as they stand well known for locally.</p><p>The band has enjoyed some radio play on Tuks FM with the single ‘A Beat In Us All’ off the ABIUA EP in early 2015 and entered the <strong>Tuks FM top 30</strong> charts while sticking around there for 12 weeks on-going peaking at <strong>number 11</strong>. Released on February 2016, they released ‘Tryna Be Lawful’ as a single track which has also been kindly received by <strong>Tuks FM, Kovsie FM and PUK FM</strong> and can be found on these radio stations’ rotational playlists.</p><p>Taking the bigger step towards recording at a more well-known production studio, they worked with <strong>Greg Carlin (Zebra & Giraffe)</strong> at OpenRoom Production studios with Greg producing their single ‘So Much To Gain’. The song was released in late April 2017 through MiniBeast Records as the official distributors.</p><p>Be sure to find the band on any social media platforms and gigging around wherever they are.</p>
    </div> <!-- end biography text -->

    <div class="img-grid-container">
      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-4 img-grid">
          <div class="band-member-wrapper">
            <div class="band-member">
              <%= image_tag ('ralf-swart.jpg'), class: 'img-fluid' %>          
            </div>
            <div class="band-member-article">
              <div class="band-member-name text-center">
                <h4>Ralf Swart</h4>
              </div>
              <div class="band-member-role text-center">
                <h5>Guitar & Vocals</h5>
              </div>
              <div class="band-member-profile">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quo atque dolorem dolore sunt, quas laudantium provident! Esse aut aspernatur tempore, at cupiditate quasi, repudiandae, corporis dolorum voluptatem totam sed.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 img-grid">
          <div class="band-member-wrapper">
            <div class="band-member">
              <%= image_tag ('gavin-coetser.jpg'), class: 'img-fluid' %>          
            </div>
            <div class="band-member-article">
              <div class="band-member-name text-center">
                <h4>Gavin Coetzer</h4>
              </div>
              <div class="band-member-role text-center">
                <h5>Bass Guitar</h5>
              </div>
              <div class="band-member-profile">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quo atque dolorem dolore sunt, quas laudantium provident! Esse aut aspernatur tempore, at cupiditate quasi, repudiandae, corporis dolorum voluptatem totam sed.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 img-grid">
          <div class="band-member-wrapper">
            <div class="band-member">
              <%= image_tag ('koos-le-roux.jpg'), class: 'img-fluid' %>  
            </div>
            <div class="band-member-article">
              <div class="band-member-name text-center">
                <h4>Koos le Roux</h4>
              </div>
              <div class="band-member-role text-center">
                <h5>Drums</h5>
              </div>
              <div class="band-member-profile">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quo atque dolorem dolore sunt, quas laudantium provident! Esse aut aspernatur tempore, at cupiditate quasi, repudiandae, corporis dolorum voluptatem totam sed.</p>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- end row -->
    </div> <!-- end container img-grid-container-->

  </div> <!-- end container -->
</section> <!-- end biography section -->

<section id="discography-section">
  <div id="parallax-discography" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>DISCOGRAPHY</h1>
    </div>
  </div>

  <div class="container img-grid-container">
    <div class="row">
      <% @featured_songs.each do |song| %>
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 img-grid wrapper">
        <%= link_to image_tag(song.image, class: 'img-fluid'), song %>
        <%= link_to song do %>
        <div class="image-overlay">
          <div class="text-overlay"><%= song.name %></div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div> <!-- end row -->
  </div> <!-- end container img-grid-container-->
</section> <!-- end discography section -->

<section>
  <div id="parallax-videos" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>VIDEOS</h1>
    </div>
  </div>

  <div class="container img-grid-container">
    <div class="row">
      <% @featured_videos.each do |video| %>
      <!-- MODAL TRIGGER -->
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 img-grid">
        <%= image_tag(video.image, data: { toggle: 'modal', target: '#videoModal', theVideo: video.youtube_link }, class: 'img-fluid video-image') %>
      </div>
      <% end %>

      <!-- MODAL -->
      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div>
                <iframe width="100%" height="350" src=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end modal -->
  </div> <!-- end row -->
</div> <!-- end container img-grid-container-->
</section> <!-- end videos section -->

<section id="events-section">
  <div id="parallax-events" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>EVENTS</h1>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Event</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Entrance</th>
            <th>Tickets Available At:</th>
          </tr>
        </thead>
        <tbody>
          <% @featured_events.each do |event| %>
          <tr>
            <td><%= event.event_name %></td>
            <td><%= event.venue %></td>
            <td><%= event.date %></td>
            <td>R<%= event.entrance %></td>
            <td><%= event.tickets_available_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div> <!-- end table responsive -->
    <br>
    <div class="text-center">
      <%= link_to root_path do %>
      <button class="btn btn-custom">DOWNLOAD OUR EPK</button>
      <% end %>
      <span>&amp;</span>
      <%= link_to root_path do %>
      <button class="btn btn-custom">CONTACT US FOR BOOKINGS</button>
      <% end %>
    </div>
  </div> <!-- end container -->
</section> <!-- end events section -->
<br>

<section>
  <div id="parallax-merch" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>MERCH</h1>
    </div>
  </div>

  <div class="carousel slide" id="discography-carousel" data-ride="carousel" data-interval="3000" data-pause="hover">
    <div class="carousel-inner">

      <!-- CAROUSEL INDICATORS -->
      <ol class="carousel-indicators">
        <% @featured_merchandises.each_with_index do |merchandise, i| %>
        <li data-target="discography-carousel" data-slide-to="<%= i %>"" class="<%= "active" if i == 0 %>">
        </li>
        <% end %>
      </ol>

      <!-- WRAPPER FOR SLIDES -->
      <% @featured_merchandises.each do |merchandise| %>
      <div class="carousel-item <%= "active" if merchandise == @featured_merchandises.first %>">
        <%= image_tag (merchandise.image_url), class: 'd-block img-fluid', alt: 'carousel' %>
      </div>
      <% end %>
    </div>

    <!-- CAROUSEL CONTROLS -->
    <a class="carousel-control carousel-control-prev" href="#discography-carousel" role="button" data-slide="prev">
      <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control carousel-control-next" href="#discography-carousel" role="button" data-slide="next">
      <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> <!-- end carousel -->
</section> <!-- end merchandise section -->

<section id="contact-section">
  <div id="parallax-contact" class="parallax">
    <!-- background for the paralax effect -->
    <div class="parallax-header text-center">
      <h1>CONTACT US</h1>
    </div>
  </div>

  <div class="container">
    <div class="contact-form">
      <%= flash[:notice] %>
      <%= form_tag("/simple_pages/thank_you") do |form| %>
      <div class="form-group">
        <%= label_tag :name, "Name", class: "sr-only" %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Name" %>
      </div> <!-- end form-group -->
      <div class="form-group">
        <%= label_tag :email, "Email Address", class: "sr-only" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email Address" %>
      </div>
      <div class="form-group">
        <%= label_tag :message, "Message", class: "sr-only" %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Give us your thoughts..." %>
      </div>
      <%= submit_tag "Send", class: "btn" %>
      <% end %>
    </div>
  </div>
</section>