<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<div class="container-fluid">
  <div class="row">
    <% @songs.each do |song| %>
      <div class="col-sm-2 col-md-4">
        <%= link_to (song.name), song %>
        <%= image_tag (song.image), class: 'img-responsive' %>
        <%= link_to 'Edit', edit_song_path(song) %>
        <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!-- /col -->
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Song', new_song_path %>
