<div class="clearNav"></div>

<p id="notice"><%= notice %></p>

<%= @song.spotify_link.html_safe %>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @song.image %>
</p>

<p>
  <strong>Spotify link:</strong>
  <%= @song.spotify_link %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= markdown @song.lyrics %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>