<div class="clearNav"></div>
<div class="text-center">

    <p id="notice"><%= notice %></p>

    <%= @song.spotify_link.html_safe %>

    <p>
      <%= markdown @song.lyrics %>
    </p>

</div>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>