<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @music.song_name %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @music.lyrics %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @music.image_url %>
</p>

<p>
  <strong>Spotify url:</strong>
  <%= @music.spotify_url %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
