<nav class="navbar navbar-light navbar-expand-xs fixed-top">
  <!-- Brand -->
  <%= link_to image_tag('having-cows-logo.png'), root_path, class: 'navbar-brand' %>
  <!-- Toggler -->
  <span class="navbar-toggler-icon" onclick="openNav()"></span>

  <!-- The overlay -->
  <div id="overlay-nav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
      <%= link_to 'HOME', root_path, class: 'link' %>
      <%= link_to 'BIOGRAPHY', root_path(anchor: 'biography-section'), class: 'link' %>
      <%= link_to 'DISCOGRAPHY', songs_path, class: 'link' %>
      <%= link_to 'VIDEOS', videos_path, class: 'link' %>
      <%= link_to 'EVENTS', root_path(anchor: 'events-section'), class: 'link' %>
      <%= link_to 'MERCH', merchandises_path, class: 'link' %>
      <%= link_to 'CONTACT US', root_path(anchor: 'contact-section'), class: 'link' %>
    </div>

  </div> <!-- end overlayNav -->
</nav>