<nav class="navbar navbar-light navbar-expand-xs fixed-top">
  <!-- Brand -->
  <%= link_to image_tag('having-cows-logo.png'), root_path, class: 'navbar-brand' %>
  <div class="text-center">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link link' %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to 'Login', new_user_session_path, class: 'nav-link link' %>
      </li>
      <% end %>
    </ul>
  </div>

  <!-- Toggler -->
  <span class="navbar-toggler-icon" onclick="openNav()"></span>

  <!-- The overlay -->
  <div id="overlay-nav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn link" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
      <%= link_to 'HOME', root_path, class: 'link' %>
      <%= link_to 'BIOGRAPHY', root_path(anchor: 'biography-section'), class: 'link' %>
      <%= link_to 'DISCOGRAPHY', songs_path, class: 'link' %>
      <%= link_to 'GALLERY', images_path, class: 'link' %>
      <%= link_to 'VIDEOS', videos_path, class: 'link' %>
      <%= link_to 'EVENTS', root_path(anchor: 'events-section'), class: 'link' %>
      <%= link_to 'Products', products_path, class: 'link' %>
      <%= link_to 'CONTACT US', root_path(anchor: 'contact-section'), class: 'link' %>

      <div class="social-icon container">
        <a href="https://itunes.apple.com/za/artist/having-cows/1133896195" class="fab fa-itunes-note" target="_blank" data-toggle="tooltip" title="iTunes"></a>
        <a href="https://open.spotify.com/artist/6q8cYm9RVMBGI9fpRey5co" class="fab fa-spotify" target="_blank" data-toggle="tooltip" title="Spotify"></a>
        <a href="https://www.instagram.com/havingcows/?utm_source=ig_seo&utm_campaign=profiles&utm_medium=" class="fab fa-instagram" target="_blank" data-toggle="tooltip" title="Instagram" ></a>
        <a href="https://www.facebook.com/HavingCows" class="fab fa-facebook-f" target="_blank" data-toggle="tooltip" title="Facebook"></a>
        <a href="https://www.youtube.com/channel/UCb4D2LDBYCuA94P0mksqLFA" class="fab fa-youtube" target="_blank" data-toggle="tooltip" title="Youtube"></a>
      </div>

    </div> <!-- end overlay content -->

  </div> <!-- end overlayNav -->
</nav>