<!DOCTYPE html>
<html>
  
  <%= render 'layouts/head' %>

  <body>
  
    <%= render 'layouts/nav' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= render 'layouts/footer' %>
  
<script>
  AOS.init();
</script>

  </body>
</html>