<!DOCTYPE html>
<html>
  
  <%= render 'layouts/head' %>

  <body>
  
    <%= render 'layouts/nav' %>
    
    <div class="system-notifications text-center">
      <% if notice %>
        <p id="notice" class="alert alert-primary"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert" class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  
<script>
  AOS.init();
</script>

  </body>
</html>